@charset "UTF-8";
/* CSS Document */

/* Color scheme hexadecimal values: [#0D000D #020F59 #0433BF #03258C #0442BF] */

/* The body tag style applies to all elements on the page */
body {
  background-color: #0d000d;
  font-family: Verdana, Geneva, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #F2F0D8;
}

/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper {
  width: 960px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #020F59;
}

/* The right-column ID style is floated right */
#right-column {
  float: right;
  width: 600px;
  height: 600px;
  background-color: #0433BF;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#03258c+0,0433bf+100 */
  background: #03258c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #03258c 0%, #0433bf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #03258c 0%, #0433bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #03258c 0%, #0433bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03258c', endColorstr='#0433bf', GradientType=0);
  /* IE6-9 */

}

/* The left-column ID style is floated left */
#left-column {
  float: left;
  width: 360px;
  background-color: #03258C;
  height: 600px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#03258c+0,0433bf+100 */
  background: #03258c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #03258c 0%, #0433bf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #03258c 0%, #0433bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #03258c 0%, #0433bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03258c', endColorstr='#0433bf', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
}

/* Defining a style for a set of tags separated by commas applies the style to all tags */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-family: 'Lobster', cursive;
}

header,
footer {
  background-color: white;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

aside {
  background-color: rgb(0, 0, 0);
  float: right;
  width: 300px;
  margin: 5px;
  padding: 5px;
}

mark {
  background-color: aqua;
}

figure {
  position: relative;
  width: 220px;
  height: 200px;
  background-color: white margin:5px;
  padding: 5px;
  border: 1px solid black;
}

figcaption {
  position: bottom;
  background-color: black;
  color: white;
}

#footer {
  height: 80px;
}

#banner {
  height: 120px;
  background-color: #03258C;
}

/* Defining a style for a set of tags not separated by commas applies the style only to all tags within the preceding tag*/
#banner h1 {
  color: white;
}

/* Advanced Web design relies on class or ID styles, never tables */
.box {
  height: 100px;
  width: 100px;
  float: left;
  margin: 15px;
  padding: 25px;
  opacity: .5;
  border-radius: 75px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#020f59+0,0433bf+100 */
  background: #020f59;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #020f59 0%, #0433bf 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #020f59 0%, #0433bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #020f59 0%, #0433bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020f59', endColorstr='#0433bf', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */


}

/* The following pseudo-class applies to the box class when in a hovered state */
.box:hover {
  background-color: white;
  opacity: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f0d8+0,03258c+100 */
  background: #f2f0d8;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f2f0d8 0%, #03258c 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f0d8 0%, #03258c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f2f0d8 0%, #03258c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f0d8', endColorstr='#03258c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}

/* This clear class style terminates float */
.clear {
  clear: both;
}

button:hover {
  background-color: pink;
  color: white;
  height: 40px;
  border: 2px white solid;
  box-shadow: -10px -10px 5px light gray;
  border-radius: 1px;
}